nav ul li a.callback{
    color: #4EC4F1; 
}
div.bg_02{
  height: 4.35rem;
  width: 12.93rem;
  position: absolute;
  left: .36rem;
  bottom: .73rem;
  background: #fff;
}
div.bg_02 .content{
  height: .455rem;
  width: 12.93rem;
  font-size: 0;
  margin: 0 auto;
  border-bottom: 1px solid #DDD5D5;
}
.bg_02 .content li{
  list-style: none;
  font-size: .16rem;
  display: inline-block;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  color: #747779;
}
.bg_02 .content li.li_01{
  margin-left: .76rem;
}
.bg_02 .content li.li_02{
  margin-left: .8rem;
}
.bg_02 .content li.li_03{
  margin-left: 2.14rem;
}
.bg_02 .content li.li_04{
  margin-left: 2.23rem;
}
.bg_02 .content li.li_05{
  margin-left: 1.34rem;
}
.bg_02 .content li.li_06{
  margin-left: 1.1rem;
}

/*新建ul标签*/
.bg_02 .content_new{
  width: 12.92rem;
  /*margin: 0 auto;*/
}
#container .content_new li{
  list-style: none;
  font-size: 0;
  height: .71rem;
  line-height: .71rem;
  width: 12.92rem;
  border-bottom: 1px solid #F3EFEF;
}
#container .content_new li div{
  font-size: .14rem;
  color: #747779;
  display: inline-block;
  text-align: center;
}
#container .content_new li .div_01{
  margin-left: .65rem;
  width: .9rem;
  position: absolute;
}
#container .content_new li .div_02{
  margin-left: 2.1rem;
  width: .6rem;
}
#container .content_new li .div_03{
  margin-left: 1.0rem;
  width: 2.7rem;
}
#container .content_new li .div_04{
  margin-left: .7rem;
  width: 1.5rem;
}
#container .content_new li .div_05{
  margin-left: .8rem;
  width: 1.0rem;
}
#container .content_new li .div_06{
  margin-left: 1.0rem;
  /*width: 5rem;*/
  background: #1AC117;
  border-radius: 50%;
  height: .18rem;
  width: .18rem; 
  /*position: */
}
#container .content_new li .div_07{
  margin-left: .5rem;
  width: .5rem;
}
#container .content_new li .div_07 .btn{
  height: .24rem;
  width: .6rem;
  background: #1AC217; 
  color: #fff;
  border-radius: .04rem;
}
/*#container .content_new li img{
  height: 50px;
  width: 50px;
  position: relative;
  top: 15px;
}*/
#container .content_new li div select{
  height: 30px;
  width: 70px;
  border: 1px solid aquamarine;
}