nav ul li a.edit{
	color: #4EC4F1; 
}
div.target{
    height: 43.5rem;
    width: 128.1rem;
    background: #fff;
    position: absolute;
    bottom: 7rem;
    left: 4.4rem;
}
.message{
    height: 32.4rem;
    width: 68rem;
    position: absolute;
    left: 29.8rem;
    bottom: 7.5rem;
    border: 0.1rem solid #ccc;
}
.btn{
    color: #fff;
    background: #1AC217;
    height: 3.2rem;
    width: 8rem;
    border-radius: 0.4rem;
    position: absolute;
    left: 59.9rem;
    bottom: 2.2rem;
}