body{
background:url(../images/bg.jpg) no-repeat center top #310b28;
}
#frame {
	width: 600px;
  height:250px;
	margin: 90px auto;
   background:url(../images/login_bg.png) no-repeat center top;
   text-align:center;
}
#title {
font-size:38px;
color:#256c89;
font-weight:normal;
padding:15px 0 5px 20px;
margin:0px;
clear:both;
text-align:center;
}
fieldset{
border:none;
clear:both;
}
.form{

}