*{
    padding: 0;
    margin: 0;
    border:0;
    box-sizing: border-box;
    
    /*font-size:12px;*/
    font-family:PingFangSC-Regular;
   
}
/*html{  
      
      font-size:12px;
      -webkit-transform:scale(0.83); 
       
}                /*rem与px10倍关系*/

body{

    height: 62.8rem;
    width: 136.6rem; 
    margin: 0;  
    
}
nav{
    height:9.3rem;
    width: 136.6rem;
    position: relative;
}
nav ul{
    height: 2.8rem;
    width: 63.5rem;
    position: absolute;
    right:15.7rem;
    top: 4.9rem;
    /*background: yellow;*/
}
nav ul li{
    display: inline-block;
    height: 2.8rem;
    margin-left: 8.5rem;
    padding: 0;
}
nav ul li:first-child{
    margin-left:0;
}
nav ul li a{
    text-decoration: none;
    color: #B8B0B0;
    font-size: 2rem;
}
nav ul li a:hover{
    color: #4EC4F1;
}

/**/
div.bg{
    height: 53.5rem;
    width: 136.6rem;
    margin:0 -1rem 0 -0.5rem;
    background: #F0F1F3;
    position: relative;
}
div.bg div.help{
    height: 43.5rem;
    width: 26.6rem;
    background: #fff;
    position: absolute;
    left: 4.9rem;
    bottom: 7rem;
}
div.bg div.user{
    height: 43.5rem;
    width: 98rem;
    background: #fff;
    position: absolute;
    left: 34.9rem;
    bottom: 7rem;
}
div.bg div.help div#title{
    height: 2.5rem;
    width: 20rem;
    font-family: PingFangSC-Regular;
    font-size: 1.8rem;                         /*rem与px不要混用。。*/
    color: #7F7A7A;
    margin:1.3rem 18.2rem 0rem 1.2rem;
}
div.bg div.help div#content{
    height: 36.7rem;
    width: 22.6rem;
    font-family: PingFangSC-Regular;
    font-size: 1.5rem;                      /*兼容性修改了UI*/
    color: #5C5858; 
    line-height: 2.6rem;
    margin:1.5rem 2rem 1.5rem 2rem;
}

@media screen and (min-device-width:1600px){              /*此处为响应式设计理念，但是IE和chrome表现差异太大，未遂*/
    div.bg div.help div#content{
       font-size: 1.3rem;     
    }
}

/**********first graph****************/
div.bg div.user div#graph1{
    float:left;
    width:67.3rem;
    height:43.5rem;
    margin:0;
}
div.bg div.user div#toolbox{
    float:left;
    width:27.2rem;
    height:43.5rem;
    margin:0 0 0 3.5rem;
    position: relative;
}
div.bg div.user div#choseNum{
    position: absolute;
    width:8rem;
    height:2.2rem;
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #B8B0B0;
    top:11.7rem;    
}
div.bg div.user div#choseDate{
    position: absolute;
    width:11rem;
    height:2.2rem;
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: #B8B0B0;
    top:21.3rem;    
}
div.bg div.user div#query{
    position: absolute;
    width:8rem;
    height:3.2rem;
    background-color: #1AC217;
    border-radius: 0.4rem;
    font-family: PingFangSC-Regular;
    font-size: 1.4rem;
    color: #FFFFFF;
    line-height: 2rem;
    top:30.4rem;   
    left:0.2rem;
    padding:0.6rem 2.6rem;
}
div.bg div.user div#month{
    position: absolute;
    width:2.4rem;
    height:2.4rem;
    background-color: #4EC4F1;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #FFFFFF;
    line-height: 2.2rem;
    top:14.5rem;   
    padding:0.1rem 0.4rem;
}
div.bg div.user div#week{
    position: absolute;
    width:2.4rem;
    height:2.4rem;
    background-color: #FFFFFF;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #807D7D;
    line-height: 2.2rem;
    top:14.5rem;   
    left:3.6rem;
    padding:0.1rem 0.4rem;
}
div.bg div.user div#date{
    position: absolute;
    width:2.4rem;
    height:2.4rem;
    background-color: #FFFFFF;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #807D7D;
    line-height: 2.2rem;
    top:14.5rem;   
    left:7.1rem;
    padding:0.1rem 0.4rem;
}
div.bg div.user .queryDate{
    position: absolute;
    background-color: #FFFFFF;
    font-family: PingFangSC-Regular;
    font-size: 1.6rem;
    color: #807D7D;
    line-height: 2.2rem;
    top:25.4rem;

}
div.bg div.user div#toolbox div#year input{
    width:6rem;
    height:3.1rem;
    padding:0.6rem 1.8rem 0.3rem 0.7rem;
    font-size: 1.6rem;                             //input里面的字体大小设置。。
}
div.bg div.user div#toolbox div#nian{
    width:1.6rem;
    height:2.2rem;
    top:26rem;
    left:6.4rem;
}
div.bg div.user div#toolbox div#mon input{
    width:3.5rem;
    height:3.1rem;
    padding:0.6rem 0.9rem 0.3rem 0.7rem;
    font-size: 1.6rem;
}
div.bg div.user div#toolbox div#mon{
     left:8.4rem;
} 
div.bg div.user div#toolbox div#yue{
    width:1.6rem;
    height:2.2rem;
    top:26rem;
    left:12.1rem;
}
div.bg div.user div#toolbox div#day input{
    width:4.6rem;
    height:3.1rem;
    padding:0.6rem 1.7rem 0.3rem 0.9rem;
    font-size: 1.6rem;
}
div.bg div.user div#toolbox div#day{
     left:14rem;
} 
div.bg div.user div#toolbox div#ri{
    width:1.6rem;
    height:2.2rem;
    top:26rem;
    left:18.8rem;
}




