*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    width: 12rem; 
    height:4.60rem;
    /*background: red;*/
    /*background: url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1492866726819&di=aa11a79e439bb29df389ae600d0b5252&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F17%2F16%2F41%2F06G58PICfVz_1024.jpg) no-repeat center top;*/
    position: relative;
    top: .6rem;
}
.bg img.bgImg{
    width: 13.8rem; 
    height:4.6rem;
    position: absolute;
    top: 0.3rem;
}
div.login_box_01{
    height: 3.01rem;
    width: 3.50rem;
    border-radius: .04rem;
    background-color: #fff;
    /*box-shadow: 2rem 2rem transparent;*/
    position: absolute;
    top: 3.20rem;
    left: 10.59rem;
    transform: translate(-50%,-50%);
}

.login_box_01 .myName{
    height: .50rem;
    width: 2.00rem;
    color: #5C5757;
    /*background: red;*/
    /*border: 1rem solid #eee;*/
    position: absolute;
    top: .20rem;
    left: .70rem;
    text-align: center;
    font-size: .2rem;
}

.login_box_01 .login_box_02{
    height: 1.50rem;
    width: 3.50rem;
    color: #fff;
    font-size: .16rem;
    /*border: .02rem solid #fff;*/
    /*background-color: tan;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: .50rem;
}

form.form_01,.form_02{
    height: .46rem;
    width: 2.73rem;
    border-radius: .04rem;
    border: 1px solid #E0DEDE;
    position: absolute;
    /*background: red;*/
    left: .4rem;
}
form.form_01{
    top: .1rem;
}
form.form_02{
    top: .7rem;
}
.box_label_01,.box_label_02{
    height: .40rem;
    width: 2.4rem;
    /*background: red;*/
    border: none;
    position: absolute;
    border-radius: .04rem;
    left: .3rem;
    top: .02rem;
}
.login_box_01 #login{
    height: .46rem;
    width: 2.73rem;
    border-radius: .04rem;
    background: #1AC217;
    position: absolute;
    top: 2.19rem;
    left: .4rem;
}
.login_box_01 #login span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);  
    text-align: center;
    line-height: .50rem;
    font-size: .16rem;
    color: #fff;
    display: inline-block;
}
.login_box_01 #login a{   
    text-decoration: none;
}

.img_logo,.img_pass{
    height: .2rem;
    width: .2rem;
    position: absolute;
    left: .06rem;
    top: .1rem;
}