/*举报信息*/
#container .mess{
  height: 4.66rem;
  width: 2.94rem;
  background: #fff;
  border: 1px solid #DCD5D5;
  border-radius: .04rem;
  position: absolute;
  left: -999rem;
  /*left: 57rem;
  top: 4.5rem;*/
  z-index: 100;
  /*cursor: pointer;*/
}
#container .mess .topPart{
  border-bottom: 1px solid #E9E3E3;
  width:2.86rem;
  height: .4rem;
  margin: 0 auto;
  position: absolute;
  top: .03rem;
  left: .03rem;
  /*background: red;*/
  z-index: 111;
}
#container .mess .topPart .text{
  color: #747779;
  font-size: .16rem;
  text-align: center;
  position: absolute;
  top: -.15rem;
  left: 1.133rem;
  z-index: 111;
}

/*关闭*/
#container .mess .topPart .close{
    height: .18rem;
    width: .18rem;
    border-radius: 50%;
    background: #E20404;
    position: absolute;
    top: .05rem;
    right: .05rem; 
    z-index: 111;
}
#container .mess .topPart .close::before{
  content: '';
  height: .1rem;
  width: .02rem;
  background: #fff;
  position: absolute;
  top: .038rem;
  left: .08rem;
  transform: rotate(45deg);
}
#container .mess .topPart .close::after{
  content: '';
  height: .1rem;
  width: .02rem;
  background: #fff;
  position: absolute;
  top: .038rem;
  left: .08rem;
  transform: rotate(-45deg);
}

#container .mess .midPart{
  width:2.86rem;
  height: .9rem;
  margin: 0 auto;
  position: absolute;
  top: .53rem;
  left: .03rem;
  z-index: 111;
}
#container .mess .midPart .logo{
  width: .597rem;
  height: .597rem;
  border-radius: 50%;
  background: aquamarine;
  display: inline-block;
  position: absolute;
  top: .1rem;
  left: .25rem;
  z-index: 111;
}
#container .mess .midPart .logo img.userLogo{
  width: .597rem;
  height: .597rem;
  border-radius: 50%;
  background: aquamarine;
  display: inline-block;
  position: absolute;
  /*top: .1rem;*/
  left: 0rem;
  z-index: 111;
}
#container .mess .midPart .name{
  /*width: 10rem;*/
  height: .25rem;
  line-height: .25rem;
  font-size: .16rem;
  color: #747779; 
  text-align: center;
  display: inline-block;
  position: absolute;
  top: .15rem;
  left: .96rem;
  z-index: 111;
}
#container .mess .midPart .time{
  width: .998rem;
  height: .196rem;
  line-height: .196rem;
  font-size: .14rem;
  color: #747779; 
  text-align: center;
  display: inline-block;
  position: absolute;
  top: .45rem;
  left: .96rem;
  z-index: 111;
}
#container .mess .botPart{
  margin: .02rem auto;
  height: 3.25rem;
  width: 2.8rem;
  line-height: .2rem;
  position: absolute;
  left: .03rem;
  text-align: left;
  top: 1.25rem;
  padding-left: .25rem;
  color: #747779;
  font-size: .14rem;
  z-index: 111;
  /*background: red;*/
}