
div#container{
	text-align: center;
  line-height:30px;
	background-color: aquamarine;
  height:800px;
  width: 1280px;
  margin: 0 auto;
  padding: 2em 0 2em 0;
 
}
div#title{
  height:50px;
  position:relative;
	background-color: white;
  
 	width: 90%;
  margin: 0 auto; 
  border: 0.5px solid aquamarine;
  -webkit-border-radius:8px;

}
div.item{
  height:70px;
  position:relative;
	background-color: white;
  width: 90%;
  margin: 0 auto; 
  border: 0.5px solid aquamarine;
	 -webkit-border-radius:8px;
}
ul.content{
   padding-left: 0.1rem;

   padding-top:1rem;
   margin-top:1rem;
}
div#title ul{
  padding-top: 0.6em;
}
ul.content li{
  float:left;
  width :180px;
	
	list-style: none;
  margin:0,auto;
  padding-left: 15px;
  padding-right: 15px;
 
}
li select{
  margin-top: 8px;
}