div.bg div.choice ul li.user_04{
    background: #59C8F2 ;
}
div.bg div.choice ul li.user_04 a{
    color: #fff;
}

div.bg div.search{
    height: 43.5rem;
    width: 101rem;
    background: #fff;
    position: absolute;
    left: 31.9rem;
    bottom: 7rem;
}
div.bg div.search div.tag{
	font-family: PingFangSC-Regular;
    font-size: 1.8rem;
    color: #747779;
    line-height: 2.2rem;
    width:12rem;
    height: 2.2rem;
    margin:0;
}
div.bg div.search div#current{
	position: absolute;
	top:6.8rem;
	left:6.4rem;
}
div.bg div.search div#previous{
	position: absolute;
	top:16.4rem;
	left:6.4rem;
}
div.bg div.search ul{
    width:101rem;
    height:1.96rem;
    margin:2.3rem 0 3.3rem 0;
    display: flex;
   
}
div.bg div.search ul li{
  	list-style: none;
	float:left;
	width:8rem;

    height:3.2rem;
    margin:0;
    margin-right: 1.22rem;
    opacity: 0.59;
    background: #0C84FC;
    font-family: PingFangSC-Medium;
    font-size: 1.5rem;                               /*不得已啊，不改字实在太小*/
    line-height: 3rem;
    color: #FFFFFF;
    text-align: center;
    padding:0.08rem 0 0.08rem 0;
}
