div.bg div.choice ul li.user_05{
    background: #59C8F2 ;
}
div.bg div.choice ul li.user_05 a{
    color: #fff;
}

div.bg div.map{
    height: 43.5rem;
    width: 53.3rem;
    background: #fff;
    position: absolute;
    left: 31.9rem;
    bottom: 7rem;
}
div.bg div.study{
    height: 25.6rem;
    width: 44.3rem;
    background: #fff;
    position: absolute;
    left: 88.3rem;
    bottom: 24.9rem;
}
div.bg div.sex{
    height: 15rem;
    width: 44.3rem;
    background: #fff;
    position: absolute;
    left: 88.3rem;
    bottom: 7rem;
}
div.bg div.map div#graph4{
    height: 43.5rem;
    width: 53.3rem;
}
div.bg div.study div#graph5{
    height: 25.6rem;
    width: 44.3rem;
}
div.bg div.sex div#graph6{
    height: 15.0rem;
    width: 44.3rem;
}
div.bg div.sex div#subTitle{
    width:12.9rem;
    height:2rem;
    position: absolute;
    left:23.2rem;
    top: 1.3rem;
    bottom:11.7rem;
    font-family: PingFangSC-Regular;
    font-size:1.4rem;
    color: #0082D2;
    line-height: 2rem;
}
div.bg div.sex div.outcircle{
    position: absolute;
    width:1.84rem;
    height:1.84rem;
    background: #2D96B3;
    border-radius: 1.84rem;
}
div.bg div.sex div.innercircle{
    width:0.77rem;
    height:0.77rem;
    position: absolute;
    background: #FFFFFF;
    border-radius: 0.77rem;
}

